#myBurner, #opBurner {
    position: absolute;
    bottom: -240px;
    height: 240px;
    width: 240px;
}
#opBurner {
    left: 380px;
}
#myBurner {
    left:-50px;
}
#myBurner .timer, #opBurner .timer{
    height: 100%;
    width: 100%;
}
#myBurner .loader {
    fill: #759900;
}
#myBurner .oploader {
    fill: #8c0000;
}
#opBurner .loader {
    fill: #8c0000;
}
#myBurner .spinner{
    fill: orangered;
}
#opBurner .spinner {
    fill: orangered;
}
.spinner {
    opacity: 1;
}
.spinner.hide {
    opacity: 0;
}