#myBurner, #opBurner {
    position: absolute;
    bottom: -240px;
    height: 240px;
    width: 240px;
}
#opBurner {
    left: 380px;
}
#myBurner {
    left:-50px;
}
#myBurner .timer, #opBurner .timer{
    height: 100%;
    width: 100%;
}
#myBurner .loader {
    fill: #759900;
}
#myBurner .oploader {
    fill: #8c0000;
}
#opBurner .loader {
    fill: #8c0000;
}
#myBurner .spinner{
    fill: orangered;
}
#opBurner .spinner {
    fill: orangered;
}
.spinner {
    opacity: 1;
}
.spinner.hide {
    opacity: 0;
}
div.lichess_ground.incont {
    padding-left: 0px !important;
    margin-left: 5px;
}
div.incbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 15px;
    width: 20px;
}
div.incbar > div:first-child {
    display: flex;
    flex-direction: column-reverse;
}
div.incbar > div {
    height: 100%;
}
div.incbar div.myBurner {
    background-color: #759900;
    -webkit-transition: height .15s;
    transition: height .15s;
}
div.incbar div.opBurner {
    background-color: #8c0000;
    -webkit-transition: height .15s;
    transition: height .15s;
}
div.incbar .sep {
    height: 3px;
    background-color: #929292;
}
