#myburner, #opburner {
    position: absolute;
    bottom: 0;
    height: 280px;
    width: 280px;
    margin: 10px;
}
#opburner {
     left: 350px;
}
#myburner {
    left: 0;
}
#myburner .loader {
    fill: #759900;
}
#myburner .oploader {
    fill: #a00000;
}
#opburner .loader {
    fill: #a00000;
}
#myburner .spinner{
    fill: orangered;
}
#opburner .spinner {
    fill: orangered;
}
.spinner {
    opacity: 1;
}
.spinner.hide {
    opacity: 0;
}